.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 2rem);
    padding: 1rem;
    border-top: 1px solid black;
    background-color: #181818;
    color: white;

    a {
        color: royalblue;
    }

    a:hover {
        color: slateblue;
    }
}