<div class="compare-text-container">
    <h1>Compare Texts</h1>
    <mat-button-toggle-group [(ngModel)]="comparisonMode" (change)="comparisonMode = $event.value">
        <mat-button-toggle value="lines">Lines</mat-button-toggle>
        <mat-button-toggle value="words">Words</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="text-container">
      <textarea [(ngModel)]="textLeft" placeholder="Left Text"></textarea>
      <textarea [(ngModel)]="textRight" placeholder="Right text"></textarea>
    </div>
    <button mat-raised-button (click)="compareTexts()">Compare</button>
    @if (result.length) {
        <table>
            @for (row of result; track row) {
                <tr>
                    @for (item of row; track item; let i = $index) {
                        @if (isArray(item)) {
                            <td [style.background-color]="i === 0 ? '#FED' : '#DEF'">
                                @for (subitem of item; track subitem) {
                                    <span [style.background-color]="subitem.bg">{{ subitem.value }}</span>
                                    <span>&nbsp;</span>
                                }
                            </td>
                        } @else {
                            <td [style.background-color]="item.bg">{{ item.value }}</td>
                        }
                    }
                </tr>
            }
        </table>
        <button mat-mini-fab (click)="reset()">
            <mat-icon>restart_alt</mat-icon>
        </button>
    }
</div>
<app-close></app-close>
<button mat-icon-button class="info-button" (click)="openInfo()">
    <mat-icon>info</mat-icon>
</button>