<div class="compare-text-container">
    <h1>Compare Texts</h1>
    <mat-button-toggle-group [(ngModel)]="comparisonMode" (change)="comparisonMode = $event.value">
        <mat-button-toggle value="lines">Lines</mat-button-toggle>
        <mat-button-toggle value="lines_and_words">Lines & Words</mat-button-toggle>
        <mat-button-toggle value="words">Words</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="text-container">
      <textarea [(ngModel)]="textLeft" placeholder="Left Text"></textarea>
      <textarea [(ngModel)]="textRight" placeholder="Right text"></textarea>
    </div>
    <button mat-raised-button (click)="compareTexts()">Compare</button>
    @if (result) {
        <table>
            @for (row of result; track row) {
                <tr>
                    @for (item of row; track item) {
                        <td [style.background-color]="item.bg">{{ item.value }}</td>
                    }
                </tr>
            }
        </table>
    }
</div>