<div class="plain-math-container">
    <h1>Plain Math (Prototype)</h1>
    <div class="content">
        <textarea [(ngModel)]="inputText" cols="80" placeholder="Enter your text here..."></textarea>
        <button mat-raised-button class="action" (click)="processText()">Convert</button>
        <textarea [value]="outputText" cols="80" readonly></textarea>
        <button mat-raised-button class="action" (click)="copy()">Copy</button>
    </div>
</div>

<div class="replacements">
    <h2>Replacements</h2>
    <table>
        <tr>
            <th>Original</th>
            <th>Replacement</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let entry of replaceMap | keyvalue">
            <td>{{ entry.key }}</td>
            <td>{{ entry.value }}</td>
            <td>
                <button mat-icon-button (click)="removeReplacement(entry.key)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
<app-close></app-close>