.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
  
.mat-dialog-title {
    text-align: center;
}
  
.mat-dialog-content {
    text-align: center;
    white-space: pre-wrap;
}
  
.mat-dialog-actions {
    display: flex;
    justify-content: center;
    width: 100%;
}
  